# jupyterlabs files and notebooks
**/*.ipynb
**/*.json
**/*.jupyterlab-workspace
Assignment1.1/.ipynb_checkpoints/.gitignore-checkpoint
.ipynb_checkpoints/.gitignore-checkpoint

# vsCode settings
.vscode/

# Python virtual envs
.env/
.venv/
venv/
tfenv/
./tfenv

# Logs / temp files
*.log

# python cache
__pycache__/
*.py[cod]

# AircraftClassifier
AircraftClassifier/aircraft_dataset/*
!AircraftClassifier/aircraft_dataset/.gitkeep
AircraftClassifier/trainedModels/*
!AircraftClassifier/trainedModels/.gitkeep
!AircraftClassifier/Visualizations/.gitkeep

# Assignment 3.1
Assignment3.1/aircraft_dataset/*
!Assignment3.1/aircraft_dataset/.gitkeep

# Assignment 4.1
Assignment4.1/dataset/*
!Assignment4.1/dataset/.gitkeep
